<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagrindinis puslapis</title>
</head>
<body>

<h1>Ingredients and dishes page</h1>
<di>
    <a href="http://localhost:8080/ingredienttemplate/ingredientpage/ingredient/all">
        All Ingredients
    </a></p>
</di>
<di>
    <a href="http://localhost:8080/ingredienttemplate/ingredientpage/ingredient/id/7">
        Ingredient by id
    </a></p>
</di>
<di>
    <a href="http://localhost:8080/dishtemplate/dishallpage/dish/all">
        All dishes
    </a></p>
</di>
<di>
    <a href="http://localhost:8080/dishtemplate/dishpage/dish/id/2">
        Dish by id
    </a></p>
</di>
<di>
    <a href="http://localhost:8080/ingredienttemplate/ingredients/getandpost">
        Search ingredients by name
    </a></p>
</di>
<di>
    <a href="http://localhost:8080/dishtemplate/dishes/getandpost">
        Search dishes by name
    </a></p>
</di>


</body>
</html>