<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagrindinis puslapis</title>
</head>
<body>

<h1>MAPED pages</h1>

<di>
    <a href="http://localhost:8080/ingredientmapping/ingredient/all">
        All Ingredients
    </a></p>
</di>

<di>
    <p><a href="http://localhost:8080/dishmapping/dish/all">
        All Dishes
    </a></p>
</di>

<di>
    <p><a href="http://localhost:8080/ingredientmapping/myingredient/7">
        Ingredient by id
    </a>
</di>

<di>
    <p><a href="http://localhost:8080/dishmapping/mydish/id/2">
        Dish by id
    </a></p>
</di>

<di>
    <p><a href="http://localhost:8080/ingredientmapping/myingredient/name/Morkos">
        Ingredient by Name
    </a></p>
</di>

<di>
    <p><a href="http://localhost:8080/dishmapping/mydish/name/Daržovių%20glotnutis">
        Dish by name
    </a></p>
</di>
<di>
    <p><a href="http://localhost:8080/ingredientmapping/myingredient/Like/cukr">
        Ingredient by name Like
    </a></p>
</di>
<di>
    <p><a href="http://localhost:8080/dishmapping/mydish/Like/tort">
        Dish by name Like
    </a></p>
</di>

<h1>Pages with TEMPLATES</h1>

</body>
</html>