<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table id="ingredientDataTable" class="table">
  <tr>
    <th class="th">Eil. Nr.</th>
    <th class="th">Ingrediento numeris</th>
    <th class="th">Pavadinimas</th>
    <th class="th">Maisto kategorija</th>
    <th class="th">Kiekis (g.)</th>
    <th class="th">Angliavandenių skaičius (g.)</th>
    <th class="th">Baltymų skaičius (g.)</th>
  </tr>
  <tr th:each="ingredient : ${key_ingredients_list}">
    <td class="td" th:text="${ingredientStat.index+1}"></td>
    <td class="td" th:text="${ingredient.idIngredient}"></td>
    <td class="td" th:text="${ingredient.ingredientName}"></td>
    <td class="td" th:text="${ingredient.foodCategory}"></td>
    <td class="td" th:text="${ingredient.portion}"></td>
    <td class="td" th:text="${ingredient.sugarsTotalInPortion}"></td>
    <td class="td" th:text="${ingredient.proteinsTotalInPortion}"></td>
  </tr>
</table>

</body>
</html>